.articles-gallery{
  &__header{
    padding: $x*8 $x*4;
    text-align: center;

    &:after{
      content: " ";
      display: block;
      width: 25%;
      max-width: 150px;
      height: 4px;
      background:
      linear-gradient(
          90deg,
          rgba($brand-primary, 1)0%,
          rgba($brand-accent, 1) 100%);
      border-radius: 4px;
      text-align: center;
      margin: 0 auto;
    }
  }
  &__title{
    margin: 0;
    text-transform: capitalize;;
    font-size: $font-size_h1;
    font-weight: 600;

  }

  &__subtitle{
    margin: $x;
    font-size: $font-size_h3;
    font-weight: 200;
  }

  &__container{
    display: table;
    margin-bottom: $x*4;
  }

  &__footer{
    margin-bottom: $x*9;
    text-align: center;
  }

  @media #{$phablet-and-down}{
    &__header{
      padding: $x*6 $x*2;
    }
    &__title{
      font-size: $font-size_h2;

    }

    &__subtitle{
      font-size: $font-size_h6;
    }

    &__container{
    }
  }
}

.articlePost{
  position: relative;
  display: block;
  float: left;
  width: 50%;
  padding: $x*3 $x*6;

  &__img{
    img{
      width: 100%;
    }
  }

  &__data{
    h3{
      font-size: $font-size_h2;
      margin: $x 0;
    }
  }

  @media #{$tablet-and-down} {
    padding:$x;
  }

  @media #{$phablet-and-down} {
    width: 100%;
    padding:$x*2;
  }
}

.dribbbleShot, .instagramPost{
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: calc(100% /3);

  &__img{
    img{
      transition: 2s all ease-in-out;
      width: 100%;
    }
  }

  &__data{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    transition: 0.2s all ease-in-out;

      &-inner{
        position: absolute;;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        margin: 0 auto;
        z-index: 10;
        opacity: 0;
        transition: 0.6s all ease-in-out;
      }
      h3{
        color: white;
        font-size: $font-size_h5;

      }
      span{

      }

      &:before, &:after{
        transition: 0.4s all ease-in-out;;
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%) scale(0);
        width: 50%;
        padding-top: 50%;
        opacity: 0;
        border-radius: 50%;

        background: $brand-secondary;
      }
      &:before{
      }

      &:after{

        transition: 0.6s all ease-in-out;

      }
  }

  &:hover{
    .dribbbleShot__img, .instagramPost__img{
      img{
        transform: scale(1.1);
      }
    }
    .dribbbleShot__data, .instagramPost__data{
      background: rgba($brand-primary, 0.5);

      &-inner{
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
      }

      &:before{
        opacity: 0.8;
        transform:translate(-50%, -50%) scale(1);
      }

      &:after{
        opacity: 0.3;
        transform:translate(-50%, -50%) scale(3);
      }
    }
  }

  @media #{$tablet-and-down} {
    width: 50%;

    &__data{
        &-inner{
        }
        h3{
          color: white;
          font-size: $font-size_h6;

        }
        span{

        }

        &:before, &:after{

        }
        &:before{
        }

        &:after{

        }
    }

  }

  @media #{$phablet-and-down} {
    width: 100%;
  }
}
