.header-intro {
  background:
    linear-gradient(
        -180deg,
        rgba($brand-primary, 0.7)0%,
        rgba($brand-accent, 0.9) 72%),
    url('../img/clouds.jpg') no-repeat bottom / cover;
  height: 100vh;
  width: 100%;
  text-align: center;

  &__hero{
    position: relative;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    text-align: left;
    text-transform: uppercase;
    max-width: 300px;
    margin: 0 auto;

    .brand{
      position: absolute;
      width: 214px;
      opacity: 0.1;
      top: -120px;
      left:-120px;
    }
    .name{
      font-weight: 300;
      font-size: 64px;
      color: white;
      margin: 0;
      text-transform: uppercase;
      line-height: 1;
    }
    .jobTitle{
      color: white;
      font-size: 16px;
      margin: 0;
    }

  }

  .goToDown{
    position: absolute;
    bottom: $x;
    left: 50%;
    transform: translateX(-50%);

    width: 27px;
    height: 37px;
    cursor: pointer;

    .arrow{
      position: absolute;
      bottom: 0;
      width: 27px;
      height: 37px;
      background: url('../img/goToDown.png') no-repeat top / contain;
      animation: bounce 1.3s infinite;
    }

    .arrowShadow{
        display: block;
        position: absolute;
        bottom: 0;
        width: 27px;
        height: 5px;
        background: black;
        box-shadow: 0 0 5px black;
        border-radius:50%;
        opacity: 0.1;
        animation: bounceShadow 1.3s infinite;
    }
  }
}
