.header-nav{
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 999;
}

.navPrimary {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: $x*4;

  background:$brand-icons;
  opacity: 0;

  pointer-events: none;
  transition: 0.2s all ease-in-out;
  z-index: 900;

  ul{
    position: relative;
    top: 50%;
    transform: translateY(-50%) scale(0.6);
    margin: 0;
    padding: 0;
    list-style: none;
    transition:0.3s all ease-in-out;

    li{

      a{
        display: block;
        padding: $x 0;
        font-size: $font-size_h2;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;

        transition: 0.3s all ease-in-out;
      }
    }
  }

  &.isActive{
    top: 0;
    opacity: 1;
    pointer-events: auto;;

    ul{
      transform: translateY(-50%) scale(1);
    }

  }

}

.navToggle{
  position: absolute;
  display: block;
  padding: 15px 12px;
  width: 56px;
  height: 56px;
  border-radius: 50%;


  top: $x;
  right: $x;

  cursor: pointer;

  i{
    position: relative;
    display: block;
    margin-bottom: 7px;
    width: 32px;
    height: 4px;

    background: $brand-icons;
    border-radius: 4px;
    transition: 0.2s all ease-in-out;

    &:first-child{
      top: 0;
    }

    &:nth-child(2){
      width: 24px;
    }
    &:last-child{
      top: 0;
      margin-bottom: 0;
    }

  }

  &.isActive {

    i{
      transform: rotate(45deg);
      background: $brand-primary;

      &:first-child{
        top: 11px;
      }
      &:nth-child(2){
        width: 0;
      }

      &:last-child{
      top: -11px;
      transform: rotate(-45deg);
      }
    }
  }
}
