section#headerIntro.header-intro
  .header-intro__hero
    img.brand(src="assets/img/logo.svg", alt="")
    h1.name Raúl Aguilar
    p.jobTitle Product Designer – #foodLover
  .goToDown
    .arrow
    .arrowShadow
