header.header-nav
  .navToggle
    i
    i
    i

nav.navPrimary
  ul
    li
      a(href="#") About me
    li
      a(href="#portfolio") Portfolio
    li
      a(href="#writings") Writings
    li
      a(href="#photography") Photography
    li
      a(href="#contact") Contact Me

  
