extends ../layout/_articles-gallery.jade
block articlesGalleryVars

  //- Content type
  -var type = "photography"
  -var scheme = "light"

  //- Head Section
  -var title = "Chillin'"
  -var subTitle = "Design, travel, life & food stuff."
  
  //-   
  


append streamContent  
  +instagramPost(
    'RoadTrip 2015',
    'El Fuerte, Sin',
    '1.jpg',
    '#'
    )
    
  +instagramPost(
    'Pitahaya Ice Cream',
    'Ciudad Obregón, Son',
    '2.jpg',
    '#'
    )

  +instagramPost(
    'Red Train',
    'Navojoa, Son',
    '3.jpg',
    '#'
    )

  +instagramPost(
    'A light of hope',
    'Cócorit, Son',
    '4.jpg',
    '#'
    )
    
  +instagramPost(
    'New bike, new life',
    'Guadalajara, Jal',
    '5.jpg',
    '#'
    )

  +instagramPost(
    'Sketches are back',
    'Guadalajara, Jal',
    '6.jpg',
    '#'
    )

  +instagramPost(
    'The best chef',
    'Puebla, Puebla',
    '7.jpg',
    '#'
    )
    
  +instagramPost(
    'Pink Afternoon',
    'Ciudad Obregón, Son',
    '8.jpg',
    '#'
    )

  +instagramPost(
    'Design Gifts',
    'Navojoa, Son',
    '9.jpg',
    '#'
    )
append articlesGalleryFooter
  a(href="https://www.instagram.com/raulaguilarv" target="_blank").btn.primary Sígueme en Instagram
