extends ../layout/_articles-gallery.jade
block articlesGalleryVars

  //- Content type
  -var type = "writings"
  -var scheme = "light"

  //- Head Section
  -var title = "Artículos"
  -var subTitle = "Experiencias del día a día"
  
  //-   
  


append streamContent  
  +articlePost(
    'Diseño, café, chelas, mezcal y bicicletas.',
    
    'El título resume este 18 de febrero, a un mes de salir del nido (mi hermoso desierto sonorense), que por leer el título no parece ser una buena combinación, más',

    'bike.jpg',
    
    'https://medium.com/@raulaguilarv/dise%C3%B1o-caf%C3%A9-chelas-mezcal-y-bicicletas-573f3e2e5afa#.1uludok30',
    
    'Feb 20, 2016'
    )
    
  +articlePost(
    'A veces, simplemente no queremos darnos cuenta.',
    
    'A veces no nos damos cuenta, otros hacemos que no nos damos, y en el peor de los casos, no queremos darnos cuenta, por el simple hecho que existe el miedo y la esperanza',

    'beach.jpg',
    
    'https://medium.com/@raulaguilarv/a-veces-simplemente-no-queremos-darnos-cuenta-650d1e624186#.34272g4j7',
    
    'Sep 16, 2014'    
    )

  +articlePost(
    'El que corre el riesgo nunca sabrá lo que es arrepentirse.',
    
    'Recuerdo la primera vez que me le declaré a mi mejor amiga, hizo home run conmigo. Fue un día lleno de sentimientos revueltos y un momento  incómodo ,  pero no me arrepiento.',

    'birds.jpg',
    
    'https://medium.com/@raulaguilarv/a-veces-simplemente-no-queremos-darnos-cuenta-650d1e624186#.34272g4j7',
    
    'Sep 16, 2014'    
    )

  +articlePost(
    'Nuevos hábitos y un nuevo camino por tomar.',
    
    'Cada año nos proponemos algo por cumplir, un sin fin de retos y metas que han sido reciclados año tras año. Es hora de tomar la vida por los cuernos y arriesgarnos…',

    'train.jpg',
    
    'https://medium.com/@raulaguilarv/a-veces-simplemente-no-queremos-darnos-cuenta-650d1e624186#.34272g4j7',
    
    'Sep 16, 2014'      
    )

append articlesGalleryFooter
  a(href="https://www.medium.com/@raulaguilarv" target="_blank").btn.primary Sígueme en Medium
